body {
  margin: 0;
  font-family: monospace;
  background: #050014;
  color: #00f7ff;
}

.app {
  padding: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
  border-bottom: 1px solid #00f7ff;
}

/* grid layout */
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  margin-top: 15px;
}

.card {
  background: rgba(0,255,255,0.05);
  border: 1px solid #00f7ff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00f7ff;
}

.big {
  grid-column: span 1;
}

/* inputs */
textarea {
  width: 100%;
  height: 80px;
  background: black;
  color: #00f7ff;
  border: 1px solid #00f7ff;
  margin-top: 10px;
  padding: 10px;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: #00f7ff;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

#aiBox {
  margin-top: 10px;
  min-height: 60px;
  padding: 10px;
  border: 1px dashed #00f7ff;
}